.my {
text-align: center;
padding: 10% 10%;
}
.my-icon {
color: #10648b
}

.my-icon:hover {
color: #079aad
}

.p {
color: gray;
}
.navbar-brand img {
height: 45px;
width: 40px;
padding: 2%;
}
